{% extends "base.html" %} {% block contenido %}
<div class="container">
  <h1 class="container-title">Actualizar Departamento</h1>
  <form method="POST">
    <input type="text" name="nombre" value="{{ departamento.nombre }}" required />
    <select name="supervisor_id">
      <option value="">Sin Supervisor</option>
      {% for empleado in empleados %}
        <option value="{{ empleado.id }}" {% if departamento.supervisor_id == empleado.id %}selected{% endif %}>
          {{ empleado.nombre }} {{ empleado.apellido }} > {{ empleado.puesto.nombre }}
        </option>
      {% endfor %}
    </select>
    <input class="btn btn-submit" type="submit" value="Actualizar" />
  </form>
</div>
{% endblock %}
