{% extends "base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block contenido %}
<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
      <div class="textbox">
        <input type="text" placeholder="Usuario" name="usuario" required />
      </div>
      <div class="textbox">
        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          required
        />
      </div>
      <input type="submit" value="Iniciar Sesión" class="btn" />
    </form>
  </div>
</div>
{% endblock %}
